.footer {
  background-color: #141414;
  color: #757575;
  padding: 60px;
  font-size: 14px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 20px 0;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer li {
  margin: 10px 0;
  cursor: pointer;
}

.footer li:hover {
  color: white;
  text-decoration: underline;
}